<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>

<% if logged_in? && current_user.admin? %> 
    <li> <%= link_to 'Users', users_path %> </li>
    <li> <%= link_to 'Roles', roles_path %> </li>
    <li> <%= link_to 'Platform', platforms_path %> </li>
<%end%>
    
